.bookContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.bookCard {
  transform: scale(0.9);
  margin-right: 2.5%;
  background-color: rgba(128, 128, 128, 0.467);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  border-radius: 5px;
  color: rgb(216, 216, 216);
  height: 325px;
  width: 200px;
}

.bookCardHalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 12px;
}
.bookCardHalf.top {
  padding-bottom: 0px;
}
.bookCardHalf.bottom {
  flex-direction: column;
  align-items: center;
}

.bookTitle {
  font-weight: 600;
  font-size: 19px;
  transition: 0.15s;
  text-align: center;
}
.bookTitle.extended {
  font-size: 16px;
  background-color: rgba(128, 128, 128, 0.467);
  border-radius: 0px 0px 5px 5px;
  padding: 9px;
  margin-top: -9px;
}
.bookTitle.shrunk {
  font-size: 16px;
}

.bookAuthor {
  font-weight: 100;
  font-size: 13px;
  color: rgba(216, 216, 216, 0.65);
  text-align: center;
}

.bookCover {
  border-radius: 5px 5px 0px 0px;
  height: 225px;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.headerTitle {
  font-size: 40px;
  cursor: pointer;
}

.searchBar {
  justify-self: end;
  width: 20px;
  align-self: center;
  margin-top: 2.5%;
  font-size: 19px;
  transition: 1s;
  background-color: rgba(128, 128, 128, 0.247);
  background: url("./images/search.png") left no-repeat;
  align-self: center;
  height: 40px;
  border: none;
  color: transparent;
  border-radius: 5px;
  text-align: right;
  cursor: pointer;
}
.searchBar::-moz-placeholder {
  color: transparent;
}
.searchBar:-ms-input-placeholder {
  color: transparent;
}
.searchBar::placeholder {
  color: transparent;
}
.searchBar:focus {
  width: 301px;
  transition: 1s;
  background-color: rgba(128, 128, 128, 0.247);
  color: rgb(216, 216, 216);
  text-align: right;
  cursor: text;
}
.searchBar:focus::-moz-placeholder {
  color: rgba(216, 216, 216, 0.5);
  -moz-transition: 1s;
  transition: 1s;
}
.searchBar:focus:-ms-input-placeholder {
  color: rgba(216, 216, 216, 0.5);
  -ms-transition: 1s;
  transition: 1s;
}
.searchBar:focus::placeholder {
  color: rgba(216, 216, 216, 0.5);
  transition: 1s;
}

.featuredCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75%;
  width: 80%;
  background-color: rgba(128, 128, 128, 0.467);
  border-radius: 5px;
  color: rgb(216, 216, 216);
  color: black;
}

.featuredCardSide {
  display: flex;
  flex-direction: column;
  background-color: rgb(128, 128, 128);
  border-radius: 5px 0px 0px 5px;
  height: 100%;
  width: 35%;
  align-items: center;
  justify-content: flex-start;
}

.featuredCardMain {
  height: 100%;
  width: 65%;
}

.featuredCardInformation {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.featuredCardCover {
  margin-top: 10%;
  height: min(70%, 80vh);
  width: 80%;
}

.featuredTitle {
  margin-bottom: -2.5%;
}

.featuredSubtitle {
  margin-bottom: -1%;
}

.featuredAuthors {
  margin-bottom: -1%;
}

.fullDescription {
  position: absolute;
  margin-left: -1.5%;
  margin-top: -3.5%;
  width: 40%;
  font-size: 17px;
  background-color: rgba(128, 128, 128, 0.95);
  border-radius: 5px;
  padding: 20px;
}
.fullDescription h3 {
  padding-top: 0px;
  margin-top: -1px;
  margin-bottom: -1px;
}

body {
  background-color: rgb(23, 23, 23);
  font-family: "Hind", sans-serif;
  color: rgb(216, 216, 216);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.467);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(216, 216, 216, 0.9);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(216, 216, 216, 0.75);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(216, 216, 216, 0.5);
}

.hidden {
  display: hidden;
  color: transparent;
}

.mainContainer {
  background-color: skyblue;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 745px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(135, 222, 141);
  height: 100%;
  width: 20%;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
  background-color: pink;
  height: 100%;
  width: 80%;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */