.homeContainer {
  padding: 35px;
  padding-top: 0px;
  background-color: rgb(15, 15, 15);
  height: 87.5vh;
}

.homeshelfrow {
  transform: scale(0.9);
}
.homeshelfrow h1 {
  transform: scale(1);
}

.homeshelfcontainer {
  background-color: black;
  border-radius: 5px;
}
.homeshelfcontainer h1 {
  background-color: rgb(15, 15, 15);
}

.bookContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  background-color: black;
}

.bookCard {
  transform: scale(0.9);
  margin-right: 2.5%;
  background-color: rgba(128, 128, 128, 0.467);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  border-radius: 5px;
  color: rgb(216, 216, 216);
  height: 325px;
  width: 200px;
}

.bookCardHalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 12px;
}
.bookCardHalf.top {
  padding-bottom: 0px;
}
.bookCardHalf.bottom {
  flex-direction: column;
  align-items: center;
}

.bookTitle {
  font-weight: 600;
  font-size: 19px;
  transition: 0.15s;
  text-align: center;
}
.bookTitle.extended {
  font-size: 16px;
  background-color: rgba(128, 128, 128, 0.467);
  border-radius: 0px 0px 5px 5px;
  padding: 9px;
  margin-top: -9px;
}
.bookTitle.shrunk {
  font-size: 16px;
}

.bookAuthor {
  font-weight: 100;
  font-size: 13px;
  color: rgba(216, 216, 216, 0.65);
  text-align: center;
}

.bookCover {
  border-radius: 5px 5px 0px 0px;
  height: 225px;
  cursor: pointer;
}

.header-container {
  width: 100%;
  background-color: black;
  z-index: 100;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.logo {
  transform: scale(0.65);
  transition: 0.25s;
}
.logo:hover {
  cursor: pointer;
  filter: invert(0.65);
}

.option {
  cursor: pointer;
  margin-right: 10%;
}
.option:hover {
  color: white;
}

.group {
  width: 23.5%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.group.end {
  margin-right: 2.5%;
  justify-content: flex-end;
}

.headerTitle {
  font-size: 40px;
  cursor: pointer;
  margin-left: 20px;
}

.searchBar {
  width: 20px;
  align-self: center;
  margin-top: 2.5%;
  font-size: 19px;
  transition: 1s;
  background-color: rgba(128, 128, 128, 0.247);
  background: url("./images/search.png") left no-repeat;
  align-self: center;
  height: 42px;
  border: none;
  color: transparent;
  border-radius: 5px;
  text-align: right;
  cursor: pointer;
}
.searchBar::-moz-placeholder {
  color: transparent;
}
.searchBar:-ms-input-placeholder {
  color: transparent;
}
.searchBar::placeholder {
  color: transparent;
}
.searchBar:focus {
  width: 301px;
  height: 35px;
  transition: 1s;
  background-color: rgba(128, 128, 128, 0.15);
  color: rgb(216, 216, 216);
  cursor: text;
  font-size: 19px;
}
.searchBar:focus::-moz-placeholder {
  color: rgba(216, 216, 216, 0.5);
  -moz-transition: 1s;
  transition: 1s;
  font-size: 19px;
}
.searchBar:focus:-ms-input-placeholder {
  color: rgba(216, 216, 216, 0.5);
  -ms-transition: 1s;
  transition: 1s;
  font-size: 19px;
}
.searchBar:focus::placeholder {
  color: rgba(216, 216, 216, 0.5);
  transition: 1s;
  font-size: 19px;
}

.profile {
  cursor: pointer;
  margin-left: 5%;
  margin-right: -3.5%;
  transition: 0.25s;
}
.profile.pic {
  filter: invert(90%);
  height: 35px;
  border-radius: 7.5px;
  border: 2px solid rgb(63, 63, 63);
}
.profile.pic:hover {
  filter: invert(100%);
  border-color: black;
}
.profile.drop {
  font-size: 21px;
}

.profile-menu {
  border-radius: 2px;
  position: absolute;
  text-align: right;
  top: 8.5%;
  left: 89%;
  background-color: rgba(65, 65, 65, 0.95);
  z-index: 1;
  -webkit-animation: dropDown 0.45s ease-in-out forwards;
          animation: dropDown 0.45s ease-in-out forwards;
  transform-origin: top center;
  color: rgb(216, 216, 216);
  border: 1px solid rgb(216, 216, 216);
}

.menu-option {
  padding: 15px;
  padding-right: 10px;
  padding-left: 25px;
  font-size: 17px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@-webkit-keyframes dropDown {
  0% {
    opacity: 0;
    background-color: transparent;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dropDown {
  0% {
    opacity: 0;
    background-color: transparent;
  }
  100% {
    opacity: 1;
  }
}
.reviewContainer {
  background-color: rgb(45, 45, 45);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgb(216, 216, 216);
}

.reviewInfo {
  background-color: rgb(45, 45, 45);
  width: 95%;
  height: 100%;
}
.reviewInfo h4 {
  margin-top: -2%;
}

.newReviewTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.stars {
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  font-size: 19px;
  cursor: pointer;
}
.stars div {
  margin-right: 3%;
}

.reviewForm {
  display: flex;
  flex-direction: column;
}
.reviewForm input {
  width: 75%;
  height: 100px;
  text-align: start;
}
.reviewForm button {
  width: 15%;
}

.active {
  color: white;
}

.userReviews {
  margin-top: -1%;
  display: flex;
  flex-direction: column;
}

.featuredCard {
  transform: scale(1.15);
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 775px;
  width: 900px;
  background-color: rgba(128, 128, 128, 0.467);
  border-radius: 5px;
  color: rgb(216, 216, 216);
  margin-top: 5%;
  margin-bottom: 5%;
  top: 50%;
}

.featuredCardSide {
  display: flex;
  flex-direction: column;
  background-color: rgb(128, 128, 128);
  border-radius: 5px 0px 0px 5px;
  height: 100%;
  width: 35%;
  align-items: center;
  justify-content: center;
}

.featuredCardMain {
  height: 100%;
  width: 65%;
}

.featuredCardInformation {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 0px;
}
.featuredCardInformation hr {
  width: 50%;
  visibility: hidden;
}

.featuredCardCover {
  height: 340px;
  width: 250px;
  border-radius: 5px;
}

.featuredTitle {
  margin-bottom: -1%;
}
.featuredTitle span {
  font-size: 23px;
  font-weight: 300;
}

.featuredSubtitle {
  margin-top: 2%;
  margin-bottom: -1%;
}

.featuredAuthors {
  margin-bottom: -1%;
}

.bookDescription {
  color: rgba(216, 216, 216, 0.8);
}

.fullDescription {
  position: absolute;
  width: 55%;
  font-size: 17px;
  background-color: rgba(128, 128, 128, 0.95);
  border-radius: 5px;
  padding: 20px;
}
.fullDescription h3 {
  padding-top: 0px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.moreInfo {
  color: rgba(216, 216, 216, 0.75);
}
.moreInfo b {
  color: rgb(216, 216, 216);
}

.shelfRow {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 1%;
  font-size: 18px;
}
.shelfRow div {
  font-size: 16px;
  margin-right: 1%;
  font-weight: 600;
  padding: 2.5px;
  border-radius: 3.3333333333px;
}
.shelfRow select {
  background-color: rgb(65, 65, 65);
  color: rgb(216, 216, 216);
  border: none;
  margin-right: 0.5%;
  font-size: 15px;
  padding: 2.5px;
  border-radius: 3.3333333333px;
  cursor: pointer;
}
.shelfRow button {
  background-color: rgb(65, 65, 65);
  color: rgb(216, 216, 216);
  border: none;
  font-size: 15px;
  padding: 3.5px 7.5px;
  border-radius: 3.3333333333px;
  cursor: pointer;
}
.shelfRow button:hover {
  transform: scale(1.05);
  background-color: rgb(65, 65, 65);
}
.shelfRow button:active {
  transform: scale(0.95);
}
.shelfRow button:disabled {
  opacity: 0.15;
}
.shelfRow button:disabled:hover {
  transform: scale(1);
  cursor: default;
}
.shelfRow button:disabled:active {
  transform: scale(1);
}
.shelfRow input {
  background-color: rgb(65, 65, 65);
  border: none;
  color: rgb(216, 216, 216);
  margin-right: 1%;
  font-size: 15px;
  padding: 2.5px;
  border-radius: 3.3333333333px;
}
.shelfRow input:focus {
  background-color: rgb(45, 45, 45);
}

.featuredCardBottom {
  background-color: rgb(45, 45, 45);
  padding: 30px;
  padding-top: 3px;
  border-radius: 0px 0px 5px 0px;
}

.bigSearchCard {
  background-color: rgb(45, 45, 45);
  padding: 15px;
  padding-top: 1px;
}

.searchRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.bigSearch {
  margin-left: 1%;
  font-size: 19px;
  transition: 1s;
  background-color: rgba(128, 128, 128, 0.15);
  height: 40px;
  width: 700px;
  border: none;
  border-radius: 5px;
  color: rgba(216, 216, 216, 0.5);
  text-align: left;
  cursor: pointer;
}
.bigSearch::-moz-placeholder {
  color: transparent;
}
.bigSearch:-ms-input-placeholder {
  color: transparent;
}
.bigSearch::placeholder {
  color: transparent;
}
.bigSearch:focus {
  transition: 1s;
  background-color: rgba(128, 128, 128, 0.247);
  width: 700px;
  color: rgb(216, 216, 216);
  cursor: text;
  font-size: 19px;
}
.bigSearch:focus::-moz-placeholder {
  color: rgba(216, 216, 216, 0.5);
  -moz-transition: 1s;
  transition: 1s;
  font-size: 19px;
}
.bigSearch:focus:-ms-input-placeholder {
  color: rgba(216, 216, 216, 0.5);
  -ms-transition: 1s;
  transition: 1s;
  font-size: 19px;
}
.bigSearch:focus::placeholder {
  color: rgba(216, 216, 216, 0.5);
  transition: 1s;
  font-size: 19px;
}

.filterRow {
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filterRow input[type=radio] {
  margin-right: 0.5%;
}
.filterRow div {
  margin-right: 0.5%;
}
.filterRow input[type=text] {
  background-color: rgb(65, 65, 65);
  border: none;
  color: rgb(216, 216, 216);
  font-size: 15px;
  padding: 2.5px;
  border-radius: 3.3333333333px;
}

.userReviewCard {
  background-color: rgb(65, 65, 65);
  padding: 10px;
  width: 97.5%;
  margin-bottom: 0.5%;
}

.userReviewId {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userReviewTitle span {
  color: white;
}

.userReviewDate {
  font-size: 15px;
}

.userReviewText {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  margin-top: 0.5%;
}

.reactionCounter {
  display: flex;
  flex-direction: row;
  margin-top: 0.5%;
}
.reactionCounter h5 {
  margin-top: 5px;
  margin-bottom: 2px;
  margin-right: 1%;
}
.reactionCounter span:nth-of-type(1) {
  font-size: 13px !important;
  margin-top: -5% !important;
}
.reactionCounter div:nth-child(2) span:nth-of-type(1) {
  visibility: hidden;
  position: relative;
}
.reactionCounter div:nth-child(2) span:nth-of-type(1):after {
  color: rgb(65, 65, 65);
  font-size: 20px;
  position: absolute;
  top: -30%;
  left: 0%;
  visibility: visible;
  content: "+" !important;
}
.reactionCounter.madebyuser {
  cursor: default !important;
}
.reactionCounter.madebyuser div:nth-child(2) {
  cursor: default !important;
  opacity: 0 !important;
}

.emojiSelector {
  opacity: 92.5%;
  position: absolute;
}

.clubrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(216, 216, 216);
  font-size: 18px;
}
.clubrow div {
  margin-right: 1.5%;
}
.clubrow .clubname:hover {
  color: white;
  cursor: pointer;
}
.clubrow .dropdown {
  font-size: 23.5px;
}
.clubrow .dropdown:hover {
  color: white;
  cursor: pointer;
}

.clubOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(216, 216, 216);
  font-size: 15px;
  margin-left: 10%;
  margin-top: 1%;
  cursor: pointer;
}
.clubOption div {
  margin-right: 1.5%;
}
.clubOption div:hover {
  color: white;
  cursor: pointer;
}
.clubOption button {
  border: none;
}

body {
  background-color: rgb(23, 23, 23);
  font-family: "Hind", sans-serif;
  color: rgb(216, 216, 216);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.467);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(216, 216, 216, 0.9);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(216, 216, 216, 0.75);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(216, 216, 216, 0.5);
}

.hidden {
  display: hidden;
  color: transparent;
}

.mainContainer {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 745px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(67, 174, 219);
  background-color: rgba(128, 128, 128, 0.467);
  height: 100vh;
  width: 20%;
  align-items: center;
}
.sidebar h2 {
  color: rgb(216, 216, 216);
}

.display {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
}/*# sourceMappingURL=index.css.map */