@use "../../styles" as s;

.homeContainer {
  padding: 35px;
  padding-top: 0px;
  background-color: s.$bg;
  height: 87.5vh;
}

.homeshelfrow {
  display: flex;
  justify-content: flex-start;
  transform: scale(0.9);
  h1 {
    transform: scale(1);
  }

  .bookContainer{
    justify-content: flex-start;
  }
}

.homeshelfcontainer{
    background-color: black;
    border-radius: s.$radius;
    h1 {
        background-color: s.$bg;
        margin-bottom: -1%;

    }
}
