@use "../../styles" as s;

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 15%;
  background-color: rgb(40, 40, 40);
  height: 850px;
  padding: 50px;
  border-radius: s.$radius;
}

.profileCardTop {
  width: 100%;
  background-color: s.$primary;
  border-radius: s.$radius s.$radius 0px 0px;
  height: 60%;
}
.profileCardBottom {
  background-color: s.$primary;
  border-radius: s.$radius;
  height: 40%;

  .reviewContainer {
    height: inherit;
  }
}

.profilecardtitle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  img {
    height: 80px;
    margin: 10px 10px 0px 10px;
    border: 2px solid s.$text;
    border-radius: s.$radius;
    max-width: 80px;
  }

  button {
    margin-top: 0.25%;
    width: 15%;
    background-color: s.$dark-alt;
    color: s.$text;
    border: none;
    font-size: 15px;
    padding: 3.5px 7.5px;
    border-radius: calc(s.$radius/1.5);
    cursor: pointer;
    margin-right: 0.5%;
    transition: 0.25s;

    &:hover {
      transform: scale(1.05);
      background-color: s.$primary;
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      opacity: (0.35);

      &:hover {
        transform: scale(1);
        cursor: default;
        background-color: s.$dark-alt;
      }

      &:active {
        transform: scale(1);
      }
    }
  }
  h1 {
    // margin-top: -20px;
    // margin-bottom: 0px;
  }
}

.profilecardsubtitle {
  margin-left: 100px;
  // margin-top: -20px;
  color: rgba(s.$text, 0.85);
}

.north{
  display: flex;
  flex-direction: column;
}

.northLower{
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}

.south {
  background-color: black;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5%;
  padding-bottom: 3%;

  h3 {
    border-bottom: 2px solid grey;
  }
}

.profileDisplayAllShelves {
  //   margin-top: -1.5%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-bottom: 1%;

  &::-webkit-scrollbar {
    // display: none;
    height: 5px;
  }
}

.profileShelfBookCard {
  margin-right: 2.5%;
  display: flex;
  flex-direction: column;
  background-color: s.$dark-alt;
  border-radius: s.$radius;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.profileShelfBookCardTitle {
  font-weight: 550;
  border-bottom: 1px solid;
  margin-bottom: 2.5%;
}

.profileShelfBookToDisplay {
  .bookCard {
    height: 180.5px;
    width: 125px;

    .bookCover {
      height: 110px;
    }

    .bookTitle {
      font-size: smaller;
    }

    .bookAuthor {
    }
  }
}

.profilepage {
  height: 150%;
  overflow-y: scroll;
}

.inputCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.inputRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.inputColumn {
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type="url"],
  input[type="text"] {
    background-color: s.$dark-alt;
    border: none;
    color: s.$text;
    margin-right: 10px;
    font-size: 23px;
    padding: 2.5px;
    border-radius: calc(s.$radius/1.5);
    width: 150px;
  }

  input[type="url"] {
    width: 650px;
  }

  &.url {
    align-items: flex-start;
    div {
      margin-left: 35px;
    }
  }
}

.userInfoInput {
}
