@use "../../styles" as s;

$one: 1;
$two: 2;
$three: 3;
$four: 4;
$five: 5;
$six: 6;

.userReviewCard {
  background-color: s.$dark-alt;
  // background-color: salmon;
  padding: 10px;
  width: 97.5%;
  margin-bottom: 0.5%;
  border-radius: s.$radius;
}

.userReviewId {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userReviewTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;

  div,
  span,
  img,
  label {
    margin-right: 10px;
  }

  button,
  img {
    margin-right: 5px;
  }
  span {
    color: white;
  }

  div {
    margin-left: -4px;
  }
  button {
    background-color: s.$dark;
    color: s.$text;
    border: none;
    font-size: 15px;
    padding: 3.5px 7.5px;
    border-radius: calc(s.$radius/1.5);
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      transform: scale(1.05);
      background-color: s.$primary;
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      opacity: (0.15);

      &:hover {
        transform: scale(1);
        cursor: default;
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}
.reviewuser {
  cursor: pointer;
  &:hover {
    color: s.$text;
  }
}

.userReviewBookID {
  font-size: 15px;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.userReviewDate {
  font-size: 15px;
}

.userReviewText {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  margin-top: 0.5%;
}

.reactionCounter {
  display: flex;
  flex-direction: row;
  margin-top: 0.5%;

  h5 {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 1%;
  }
  span:nth-of-type(1) {
    font-size: 13px !important;
    // align-self: center !important;
    margin-top: -5% !important;
  }
  &.zero {
    div:nth-of-type(1) {
      span:nth-of-type(1) {
        visibility: hidden;
        position: relative;
      }
      span:nth-of-type(1):after {
        @include s.addReaction()
      }
    }
  }
  &.one {
    div:nth-of-type(2) {
      span:nth-of-type(1) {
        visibility: hidden;
        position: relative;
      }
      span:nth-of-type(1):after {
        @include s.addReaction()
      }
    }
  }
  &.two {
    div:nth-of-type(3){
      span:nth-of-type(1) {
        visibility: hidden;
        position: relative;
      }
      span:nth-of-type(1):after {
        @include s.addReaction()
      }
    }
  }
  &.three {
    div:nth-of-type(4) {
      span:nth-of-type(1) {
        visibility: hidden;
        position: relative;
      }
      span:nth-of-type(1):after {
        @include s.addReaction()
      }
    }
  }
  &.four {
    div:nth-of-type(5) {
      span:nth-of-type(1) {
        visibility: hidden;
        position: relative;
      }
      span:nth-of-type(1):after {
        @include s.addReaction()
      }
    }
  }
  &.five {
    div:nth-of-type(6) {
      span:nth-of-type(1) {
        visibility: hidden;
        position: relative;
      }
      span:nth-of-type(1):after {
        @include s.addReaction()
      }
    }
  }
  &.six {
    div:nth-of-type(7) {
      span:nth-of-type(1) {
        visibility: hidden;
        position: relative;
      }
      span:nth-of-type(1):after {
        @include s.addReaction()
      }
    }
  }

  &.madebyuser {
    cursor: default !important;
    div:nth-child(3) {
      display: none !important;
      cursor: default !important;
      opacity: 0 !important;
    }
  }
}

.emojiSelector {
  opacity: 92.5%;
  position: absolute;
}

.reviewprofilepic {
  height: 25px;
  // margin-bottom: -4%;
  border-radius: calc(s.$radius * 1.5);
  border: 2px solid;
}

.reviewbuttonlabel {
  margin-right: 1%;
}
