@use "../../styles" as s;

.clubrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: s.$text;
    font-size: 18px;

    div {
        margin-right: 1.5%;
    }

    .clubname{
        &:hover{
            color: white;
            cursor: pointer;
        }
    }

    .dropdown{
        font-size: 23.5px;
        &:hover{
            color: white;
            cursor: pointer;
        }
    }

}

.clubOption{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: s.$text;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 1%;
    cursor: pointer;


    div {
        margin-right: 1.5%;
        &:hover{
            color: white;
            cursor: pointer;
        }
    }

    button {
        border: none;

    }
}