@use '../../styles' as s;


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.headerTitle{
    font-size: 40px;
    cursor: pointer;
}

.searchBar {
    // justify-self: end;
    width: 20px;
    align-self: center;
    margin-top: 2.5%;
    font-size: 19px;
    transition: 1s;
    background-color: rgba(128, 128, 128, 0.247);
    background: url('./images/search.png') left no-repeat;
    align-self: center;
    height: 40px;
    border: none;
    color: transparent;
    border-radius: s.$radius;
    text-align: right;
    cursor: pointer;

    &::placeholder {
        color: transparent;
    }

    &:focus {
        width: 301px;
        transition: 1s;
        background-color: rgba(128, 128, 128, 0.247);
        color: s.$text;
        text-align: right;
        cursor: text;

        &::placeholder {
            color: rgba(s.$text, 0.5);
            transition: 1s;

        }
    }
}
