@use '../../styles' as s;

.featuredCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 775px;
    width: 900px;
    background-color: s.$primary;
    border-radius: s.$radius;
    color: s.$text;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    top: 50%;
}

.featuredCardSide {
    display: flex;
    flex-direction: column;
    background-color: s.$primary-extended;
    border-radius: s.$radius 0px 0px s.$radius;
    height: 100%;
    width: 35%;
    align-items: center;
    justify-content: center;
}

.featuredCardMain{
    // background-color: rgb(176, 207, 230);
    height: 100%;
    width: 65%;
}

.featuredCardInformation {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    padding: 30px;
}

.featuredCardCover{
    // margin-top: 10%;
    // height: min(70%, 80vh);
    // width: 80%;

    height:75%;
    border-radius: 5px;
}

.featuredTitle{
    margin-bottom: -2.5%;
}

.featuredSubtitle{
    margin-bottom: -1%;
}

.featuredAuthors{
    margin-bottom: -1%;

}

.hover{

}

.fullDescription {
    position: absolute;
    margin-left: -1.5%;
    margin-top: -3.5%;
    width: 40%;
    font-size: 17px;
    background-color: rgba(s.$primary,.95);
    border-radius: s.$radius;
    padding: 20px;

    h3 {
        padding-top: 0px;
        margin-top: -1px;
        margin-bottom: -1px;
    }
}