@use '../../styles' as s;

.featuredCard {
    transform: scale(1.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 775px;
    width: 900px;
    background-color: s.$primary;
    border-radius: s.$radius;
    color: s.$text;
    // color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    top: 50%;
}

.featuredCardSide {
    display: flex;
    flex-direction: column;
    background-color: s.$primary-extended;
    border-radius: s.$radius 0px 0px s.$radius;
    height: 100%;
    width: 35%;
    align-items: center;
    justify-content: center;
}

.featuredCardMain {
    // background-color: rgb(176, 207, 230);
    height: 100%;
    width: 65%;
}

.featuredCardInformation {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    padding: 30px;
    padding-bottom: 0px;
    hr{
        width: 5%;
    }
}

.featuredCardCover {
    height: 75%;
    border-radius: 5px;
}

.featuredTitle {
    margin-bottom: -1%;

    span{
        font-size: 23px;
        font-weight: 300;
    }
}

.featuredSubtitle {
    margin-top: 2%;
    margin-bottom: -1%;
}

.featuredAuthors {
    margin-bottom: -1%;

}

.hover {}

.fullDescription {
    position: absolute;
    // margin-left: -5%;
    // margin-top: -3.5%;
    width: 55%;
    font-size: 17px;
    background-color: rgba(s.$primary, .95);
    border-radius: s.$radius;
    padding: 20px;

    h3 {
        padding-top: 0px;
        margin-top: -1px;
        margin-bottom: -1px;
    }
}


.shelfRow {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 1%;
    font-size: 18px;

    div {
        font-size: 16px;
        margin-right: 1%;
        font-weight: 600;
        background-color: s.$dark-alt;        
        padding: 2.5px;
        border-radius: calc(s.$radius/1.5);
    }

    select {
        background-color: s.$dark-alt;
        color: s.$text;
        border: none;
        margin-right: .5%;
        font-size: 15px;
        padding: 2.5px;
        border-radius: calc(s.$radius/1.5);
        cursor: pointer;
    }

    button {
        background-color: s.$dark-alt;
        color: s.$text;
        border: none;
        font-size: 15px;
        padding: 3.5px 7.5px;
        border-radius: calc(s.$radius/1.5);
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            background-color: s.$dark-alt;
        }

        &:active {
            transform: scale(.95);
        }
    }
}

.featuredCardBottom{
    background-color: s.$dark;
    padding: 30px;
    padding-top: 3px;
    // margin-top: -px;
    border-radius: 0px 0px s.$radius 0px;
}