@use '../../styles' as s;

.bookCard {
    transform: scale(.9);
    margin-right: 2.5%;
    // margin-top: 2.5%;
    background-color: s.$primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border-radius: s.$radius;
    color: s.$text;
    height: 325px;
    width: 200px;
}

.bookCardHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 12px;

    &.top {
        padding-bottom: 0px;
    }

    &.bottom {
        flex-direction: column;
        align-items: center;
    }
}

.bookTitle {
    font-weight: 600;
    font-size: 19px;
    transition: .5s;

    &.extended {
        font-size: 16px;
        background-color: s.$primary;
        border-radius: 0px 0px s.$radius s.$radius;
        padding: 9px;
        margin-top: -12px;
        transition: .25s;

    }
}

.bookAuthor {
    font-weight: 100;
    font-size: 13px;
    color: rgba(s.$text, .65)
}

.bookCover {
    border-radius: s.$radius s.$radius 0px 0px;
    height: 225px;
}